package zapisywanie;
import java.io.*;
import java.io.IOException;
import java.io.File;
import java.io.FileWriter;


public class zapis {
	public static void main(String[] args) throws Exception{

	
	 File log = new File("log.txt");
			    try{
			    if(log.exists()==false){
			            System.out.println("We had to make a new file.");
			            log.createNewFile();
			    }
				for (int i = 0; i<10; i++) {
			    
			    PrintWriter out = new PrintWriter(new FileWriter(log, true));
			    out.append(System.lineSeparator() + "******* ******* " + "\n");
			    
			    out.close();
				}
			    }catch(IOException e){
			        System.out.println("COULD NOT LOG!!");
			    }
	
	}
}
